In [ ]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
import nltk
from nltk import word_tokenize
from nltk.util import ngrams
from collections import Counter

In [ ]:
text = "Hi everyone we can start the assignment by printing basic things\
so that it becomes easy to understand what we actually want to achieve from this\
assignment. Hope you enjoy the practical session of today and if you have any\
doubts you can always reach out to me"
token = nltk.word_tokenize(text)
bigrams = ngrams(token,2)
trigrams = ngrams(token,3)
fourgrams = ngrams(token,4)
fivegrams = ngrams(token,5)

In [ ]:
print(Counter(trigrams))

Counter({('Hi', 'everyone', 'we'): 1, ('everyone', 'we', 'can'): 1, ('we', 'can', 'start'): 1, ('can', 'start', 'the'): 1, ('start', 'the', 'assignment'): 1, ('the', 'assignment', 'by'): 1, ('assignment', 'by', 'printing'): 1, ('by', 'printing', 'basic'): 1, ('printing', 'basic', 'thingsso'): 1, ('basic', 'thingsso', 'that'): 1, ('thingsso', 'that', 'it'): 1, ('that', 'it', 'becomes'): 1, ('it', 'becomes', 'easy'): 1, ('becomes', 'easy', 'to'): 1, ('easy', 'to', 'understand'): 1, ('to', 'understand', 'what'): 1, ('understand', 'what', 'we'): 1, ('what', 'we', 'actually'): 1, ('we', 'actually', 'want'): 1, ('actually', 'want', 'to'): 1, ('want', 'to', 'achieve'): 1, ('to', 'achieve', 'from'): 1, ('achieve', 'from', 'thisassignment'): 1, ('from', 'thisassignment', '.'): 1, ('thisassignment', '.', 'Hope'): 1, ('.', 'Hope', 'you'): 1, ('Hope', 'you', 'enjoy'): 1, ('you', 'enjoy', 'the'): 1, ('enjoy', 'the', 'practical'): 1, ('the', 'practical', 'session'): 1, ('practical', 'session', 'of'): 1, ('session', 'of', 'today'): 1, ('of', 'today', 'and'): 1, ('today', 'and', 'if'): 1, ('and', 'if', 'you'): 1, ('if', 'you', 'have'): 1, ('you', 'have', 'anydoubts'): 1, ('have', 'anydoubts', 'you'): 1, ('anydoubts', 'you', 'can'): 1, ('you', 'can', 'always'): 1, ('can', 'always', 'reach'): 1, ('always', 'reach', 'out'): 1, ('reach', 'out', 'to'): 1, ('out', 'to', 'me'): 1})

In [9]:
import pandas as pd
train_data_sent = pd.read_csv('movie_review.csv')
train_data_sent.head()

   fold_id cv_tag  ...                                               text  tag
0        0  cv000  ...  films adapted from comic books have had plenty...  pos
1        0  cv000  ...  for starters , it was created by alan moore ( ...  pos
2        0  cv000  ...  to say moore and campbell thoroughly researche...  pos
3        0  cv000  ...  the book ( or " graphic novel , " if you will ...  pos
4        0  cv000  ...  in other words , don't dismiss this film becau...  pos

[5 rows x 6 columns]

In [10]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import re
import glob
import random
import seaborn as sns
import string

In [11]:
train_data_sent['sentence_clean'] = train_data_sent['text'].str.replace('[{}]'.format(string.punctuation), '')
train_data_sent['sentence_clean'] = train_data_sent['sentence_clean'].str.lower()
#train_data_senti=train_data_sent
train_data_sent=train_data_sent.head(1000)

In [12]:
train_data_sent.head()

   fold_id cv_tag  ...  tag                                     sentence_clean
0        0  cv000  ...  pos  films adapted from comic books have had plenty...
1        0  cv000  ...  pos  for starters  it was created by alan moore  an...
2        0  cv000  ...  pos  to say moore and campbell thoroughly researche...
3        0  cv000  ...  pos  the book  or  graphic novel   if you will  is ...
4        0  cv000  ...  pos  in other words  dont dismiss this film because...

[5 rows x 7 columns]

In [14]:
from collections import defaultdict
from nltk import bigrams, trigrams
from collections import Counter

model_3 = defaultdict(lambda: defaultdict(lambda: 0))


for sentence in train_data_sent['sentence_clean']:
  #Split the sentence into bigrams inorder to count the frequencies of the bigrams
  for w1, w2 ,w3 in trigrams(sentence.split(), pad_right=True, pad_left=True):
    model_3[(w1,w2)][w3] += 1

In [26]:
model_3['it','was']

defaultdict(<function __main__.<lambda>.<locals>.<lambda>>,
            {'also': 0.1111111111111111,
             'based': 0.1111111111111111,
             'created': 0.1111111111111111,
             'interesting': 0.1111111111111111,
             'nothing': 0.1111111111111111,
             'schreber': 0.1111111111111111,
             'too': 0.1111111111111111,
             'unceremoniously': 0.1111111111111111,
             'very': 0.1111111111111111})

In [20]:
print("The Number of times *it was created* trigram has existed is ",model_3['it','was']['created'])

The Number of times *it was created* trigram has existed is  1

In [21]:
for w1_w2 in model_3:
  total_count=float(sum(model_3[w1_w2].values()))
  for w3 in model_3[w1_w2]:
    model_3[w1_w2][w3]/=total_count

In [24]:
model_3[('it','was')]

defaultdict(<function __main__.<lambda>.<locals>.<lambda>>,
            {'also': 0.1111111111111111,
             'based': 0.1111111111111111,
             'created': 0.1111111111111111,
             'interesting': 0.1111111111111111,
             'nothing': 0.1111111111111111,
             'schreber': 0.1111111111111111,
             'too': 0.1111111111111111,
             'unceremoniously': 0.1111111111111111,
             'very': 0.1111111111111111})